useDynLib("caTools", .registration=True)

import(bitops)

importFrom("grDevices", "col2rgb", "colorRampPalette", "gray", "rgb")
importFrom("graphics", "abline", "legend", "lines", "plot", "title")
importFrom("stats", "mad", "quantile", "runif", "runmed", "sd")
importFrom("utils", "download.file", "read.table")

# Export all names
export(base64encode,
       base64decode,
       colAUC,
       combs,
       write.ENVI,
       read.ENVI,
       write.gif,
       read.gif,
       LogitBoost,
       predict.LogitBoost,
       runmean,
       runmin,
       runmax,
       runquantile,
       runmad,
       runsd,
       EndRule,
       sample.split,
       sumexact,
       cumsumexact,
       trapz)

S3method("predict", "LogitBoost")
